<!DOCTYPE html>
<html lang="en">
{% extends 'KITS/base.html' %}
{% block content %}

    <div class="container-fluid">
        <H2>Kit Checkout</H2>

        <hr>
        <form method="get">
            {{ kit_instance_filter.form }}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <hr>

        <table class="table table-striped table-bordered table-hover table-secondary">
            <thead>
                <tr class="bg-info">
                    <th>Kit Type ID</th>
                    <th>Kit ID</th>
                    <th>Kit Type</th>
                    <th>IRB #</th>
                    <th>Status</th>
                    <th>Expiration Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for kitinstance in kitinstance %}
                    <td>{{ kitinstance.kit_id }}</td>
                    <td>{{ kitinstance.id }}</td>
                    <td>{{ kitinstance.kit.type_name }}</td>
                    <td>{{ kitinstance.kit.IRB_number }}</td>
                    <td>
                        {% if kitinstance.status == 'a' %}
                            <p><b style="color:darkgreen">Available</b></p>
                        {% elif kitinstance.status == 'c' %}
                            <p><b style="color:cadetblue">Checked-Out</b></p>
                        {% elif kitinstance.status == 'd' %}
                            <p><b style="color:black">Demolished</b></p>
                        {% elif kitinstance.status == 'e' %}
                            <p><b style="color:darkred">Expired</b></p>
                    {% endif %}
                    </td>
                    <td>{{ kitinstance.expiration_date }}</td>
                    <td>
                        {% if kitinstance.status == 'a' %}
                            <a href="{% url 'KITS:kitinstance_statusedit' pk=kitinstance.pk %}" class="btn-sm btn-success">Checkout</a>
                        {% endif %}

                        {% if kitinstance.status == 'a' %}
                            <a href="{% url 'KITS:kitinstance_demolish' pk=kitinstance.pk %}" class="btn-sm btn-danger">Demolish</a>
                        {% elif kitinstance.status == 'e' %}
                            <a href="{% url 'KITS:kitinstance_demolish' pk=kitinstance.pk %}" class="btn-sm btn-danger">Demolish</a>
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

</html>