<!DOCTYPE html>
<html lang="en">
{% extends 'KITS/base.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
            {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container-fluid">
        <H2>Types of Kits</H2>

        <hr>
        <form method="get">
            {{ kit_filter.form }}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <hr>

        <table class="table table-striped table-bordered table-secondary">
            <thead>
            <tr class="bg-info">
                <th>IRB Number</th>
                <th>Name of Kit</th>

                <th colspan="5">Actions</th>



            </tr>
            </thead>
            <tbody>
            {% for kit in kit %}
            <tr>
                <td>{{ kit.IRB_number }}</td>
                <td>{{ kit.type_name }}</td>


                <td>
                    <a href="{% url 'KITS:kit_addkitinstance' pk=kit.pk %}" class="btn-sm btn-success">Add Kit Instance</a>
                    <a href="{% url 'KITS:kit_edit' pk=kit.pk%}" class="btn-sm btn-warning">Edit</a>
                    <a href="{% url 'KITS:kit_delete' pk=kit.pk%}"
                        onclick="return confirm('Are you sure you want to delete Kit {{ kit.id }} under IRB#{{ kit.IRB_number }}? Do you have proper authorization?')"
                        class="btn-sm btn-danger">Delete</a>
                </td>


            </tr>
             {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'KITS:kit_addkittype' %}" class="btn btn-success">Add Kit Type</a>
        <a href="{% url 'KITS:kit_addlocation' %}" class="btn btn-success">Add Location</a>


    </div>
{% endblock %}
</html>
