<!DOCTYPE html>
<html lang="en">

{% extends 'KITS/base.html' %}

{% block content %}

    <div class="container-fluid">
        <H2>Kit: {{ kitinstance.kit_id }}</H2>
        <hr>

        <p><b>Kit Instance ID: </b>{{ kitinstance.id}}</p>
        <p><b>Scanner ID: </b>{{ kitinstance.scanner_id}}</p>
        <p><b>Note: </b>{{ kitinstance.note }}</p>
        <p><b>Expiration Date </b>{{ kitinstance.expiration_date }}</p>
        <p><b>Kit ID: </b>{{ kitinstance.kit_id }}</p>
        <p><b>Location ID: </b>{{ kitinstance.location_id }}</p>

        <p><b>Current Status:</b> {{ kitinstance.status }}</p>

        <p><b style="font-size: 1.2em;">Please confirm all details before demolishing this Kit.</b></p>

     <form method="POST" class="">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-success">Demolish</button>




    </form>
    </div>

{% endblock %}
</html>