<!DOCTYPE html>
<html lang="en">
{% extends 'KITS/base.html' %}
{% block content %}
    {% if request.user.is_staff %}
    <div class="container-fluid">
        <H2>Reports - User Activity</H2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <hr>

        <table class="table table-striped table-bordered table-hover table-secondary">
            <thead>
            <tr class="bg-info">
                <th>User Name</th>
                <th>User Id</th>

                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.id }}</td>

                <td><a href="{% url 'KITS:report_userstudies' pk=user.pk %}" class="btn-sm btn-primary">Select User</a>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if not request.user.is_staff %}
        <p>Not authorized to access this page.</p>
    {% endif %}
{% endblock %}

</html>

